<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="<?= $this->Url->build([
        "controller" => "Dashboard",
        "action" => "dashboard"
    ]); ?>" title="Translate Management">
        <div class="sidebar-brand-icon">
            <img src="<?= $this->request->getAttribute("webroot") ?>favicon.ico" alt="">
        </div>
        <div class="sidebar-brand-text mx-3">TM</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="<?= $this->Url->build([
            "controller" => "Dashboard",
            "action" => "dashboard"
        ]); ?>">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Menu
    </div>

    <!-- Nav Item - Project Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities" aria-expanded="true" aria-controls="collapseUtilities">
            <i class="fa fa-briefcase" aria-hidden="true"></i>
            <span>Projects</span>
        </a>
        <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Project Actions:</h6>
                <a class="collapse-item" href="<?= $this->Url->build([
                    "controller" => "Projects",
                    "action" => "index"
                ]); ?>">Project List</a>
            </div>
        </div>
    </li>

    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTasks" aria-expanded="true" aria-controls="collapseTasks">
            <i class="fa fa-tasks" aria-hidden="true"></i>
            <span>Tasks</span>
        </a>
        <div id="collapseTasks" class="collapse" aria-labelledby="headingTasks" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Task Actions:</h6>
                <a class="collapse-item" href="<?= $this->Url->build([
                    "controller" => "Tasks",
                    "action" => "index"
                ]); ?>">Task List</a>

                <a class="collapse-item" href="<?= $this->Url->build([
                    "controller" => "Tasks",
                    "action" => "assingedTasks"
                ]); ?>">Assigned Task List</a>
            </div>
        </div>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>
<!-- End of Sidebar -->